/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Sans Runic", sans-serif;
  background-image: url("./resources/pexels-frank-minjarez-333886454-15241418.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

button {
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.topbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #3333336b;
  background-color: rgb(243, 189, 157);
}

.topbar > button {
  width: 10%;
  background-color: rgb(228, 161, 85);
  border: 2px solid rgb(124, 79, 12);
}

.add-button:hover {
  background-color: rgb(224, 124, 9);
}

.add-button:active {
  background-color: rgb(185, 102, 7);
}

.main-content {
  padding: 30px 5vh;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

.card {
  color: #fff;
  padding: 0 20px 20px 20px;
  background-color: rgba(45, 49, 63, 0.904);
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

dialog {
  padding: 5px 20px 20px 20px;
  border: none;
  border-radius: 10px;
  width: max(300px, 50vw);
  box-shadow: 2px 2px 10px;
}

form {
  display: grid;
  grid-template-rows: 4fr 1fr;
  gap: 20px;
}

.form-content {
  display: grid;
  gap: 10px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 10px;
}

.row input, .row select {
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

